<% title "#{@blog_post.title}" %>

<div class="container">
  <h1 class="centered profile"><%= @blog_post.title %></h1>
  <div class="blog-body">
    <%= simple_format(@blog_post.body) %>
  </div>
</div>

<% if admin? %>
  <button class="centered">
    <%= link_to "Edit this post", edit_blog_post_path(@blog_post) %>
  </button>
  <button class="centered">
    <%= link_to "Delete this post", blog_post_path, method: :delete %>
  </button>
<% end %>