<div class="container">
  <div class="social-container">
    <a><i class="fa fa-bitbucket footer-social-btn"></i></a>
    <a><i class="fa fa-linkedin footer-social-btn"></i></a>
    <a><i class="fa fa-envelope-o footer-social-btn"></i></a>
  </div>
</div>