<div class="social-container">
  <a href="https://bitbucket.org/fardin01/" target="_blank"><i class="fa fa-bitbucket footer-social-btn"></i></a>

  <a href="https://hu.linkedin.com/in/fardin-khanjani-9960b817" target="_blank"><i class="fa fa-linkedin footer-social-btn"></i></a>
  <a href="mailto:khanjani.fardin@gmail.com" target="_top"><i class="fa fa-envelope-o footer-social-btn"></i></a>
</div>