  <div class="profile home on-background msg-responsive">
    <h1 class="centered greeting jq-fadein">Thank you very much for visitng my website! <p>Reposnsive design is a work in progress! It should be up by the time the countdown below hits zero. Meanwhile you can visit my website on desktop.</p></h1>
    <div class="centered jq-fadein">
    	<div id="timer">
			  <span id="days"></span>   
			  <span id="hours"></span>      
			  <span id="minutes"></span>    
			  <span id="seconds"></span>
    	</div>
    </div>

  </div>
