<div class="navbar transparent navbar-inverse navbar-fixed-top">
   <nav class="navbar-inner">
      <div class="nav-action navbar-right">
        <a href="/">Contact</a>
      </div>

      <div class="nav-action navbar-right">
        <a href="/">Resume/CV</a>
      </div>

      <div class="nav-action navbar-right">
        <a href="/">Blog</a>
      </div>

      <div class="nav-action navbar-right">
        <a href="/">About</a>
      </div>

      <div class="nav-action navbar-right">
        <a href="/">Home</a>
      </div>

      <div class="nav-action navbar-left">
        <a href="/">Fardin.Khanjani</a>
      </div>
   </nav>
</div>