<% title "CV/Resume" %>

<section id="cv-header" class="has-bg-pic">
  <div class="pg-title">
      <h3>What I've done and</h3>
      <h1>MY HISTORY SO FAR</h1>
  </div>
</section>

<section class="auto-height">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
       <h2>WORK EXPERIENCE</h2>
      </div>

      <div class="col-sm-8">
        <div class="cv-item">
          <h5>Cogniso Ltd</h5>
          <strong>June 2015 – March 2016, Budapest Hungary</strong>
          <p class="cv-desc">
            Junior Rails developer, Market Research and Social networks
          </p>
        </div>

        <div class="cv-item">
          <h5>Win TV Live Satellite Channel</h5>
          <strong>September 2014 - Present, Budapest Hungary</strong>

            <p class="cv-desc">Game show host: Performing live shows, answering phone calls of participants, promoting the show and explaining the process. Game show editor/control room: Editing the content and foreseeing the overall status of the show</p> 

        </div>

        <div class="cv-item">
          <h5>Avesta Sole Trading</h5>
          <strong>April 2014- April 2015, Budapest Hungary</strong>
            <p class="cv-desc">Self-employed: International commodity trading</p>
        </div>

        <div class="cv-item">
          <h5>The Bay Company</h5>
          <strong>May-September 2012 San Francisco USA</strong>
            <p class="cv-desc">Full time employee (intern): Customer orientation, customer relation/assistance, cash register, warehouse and restocking, closing and recovering the store
          </p>
        </div>

        <div class="cv-item">
          <h5>Sanam Home Appliances</h5>
          <strong>Summers 2006-07-08 Hamedan Iran</strong>
            <p class="cv-desc">General employee: Customer service, Customer orientation and sales, packaging and restocking items, receiving and stocking merchandise in warehouse, inventory, assisting with B2B transactions
          </p>
        </div>
      </div>

      <div class="hr"></div>

      <div class="col-sm-4">
       <h2>Education</h2>
      </div>

      <div class="col-sm-8">
        <div class="cv-item">
          <h5>International Business School / Oxford Brookes University</h5>
          <strong>Budapest Hungary, 2012 – Present</strong>
            <p class="cv-desc">Bachelor of Arts in Business Studies</p>
        </div>

        <div class="cv-item">
          <h5>McDaniel College</h5>
          <strong>Budapest Hungary, 2010 - 2012</strong>
            <p class="cv-desc">Business Administration and Economics</p> 
        </div>

        <div class="cv-item">
          <h5>Avicenna International College</h5>
          <strong>Budapest Hungary, 2009 - 2010</strong>
            <p class="cv-desc">International high school diploma</p> 
        </div>

        <div class="cv-item">
          <h5>Darolfonon High School</h5>
          <strong>Hamedan Iran, 2007 - 2009</strong>
            <p class="cv-desc">Mathematics major</p> 
        </div>
      </div>
    </div><!-- row -->
  </div>
  <%= link_to "Download full resume", download_cv_path, class: 'cv-dl-btn' %>
</section>