<div class="profile on-background">
  <h1 class="centered cv-intro">
    <p class="cv-intro-p">What I've done and</p>
    <strong>MY HISTORY SO FAR</strong>
  </h1>
</div>

<img src="/assets/working.jpg" class="background-pic">

<div class="container">
  <div class="row">
    <div class="col-sm-4 centered cv-heading">
     <h2>WORK EXPERIENCE</h2>
    </div>

    <div class="col-sm-8 cv-wrapper">
      <div class="cv-item">
        <h5>Cogniso Ltd</h5>
        <strong>June 2015 – March 2016, Budapest Hungary</strong>
        <ul>
          <li>Junior Rails developer</li> 
          <li>Market Research</li> 
          <li>Social networks</li>
        </ul>
      </div>

      <div class="cv-item">
        <h5>Win TV Live Satellite Channel</h5>
        <strong>September 2014 - Present, Budapest Hungary</strong>

          <p>Game show host: Performing live shows, answering phone calls of participants, promoting the show and explaining the process</p> 
          <p>Game show editor/control room: Editing the content and foreseeing the overall status of the show</p> 

      </div>

      <div class="cv-item">
        <h5>Avesta Sole Trading</h5>
        <strong>April 2014- April 2015, Budapest Hungary</strong>
        <ul>
          <li>Self-employed: International commodity trading</li> 
        </ul>
      </div>

      <div class="cv-item">
        <h5>The Bay Company</h5>
        <strong>May-September 2012 San Francisco USA</strong>
        <ul>
          <li>Full time employee (intern): Customer orientation, customer relation/assistance, cash register, warehouse and restocking, closing and recovering the store</li> 
        </ul>
      </div>

      <div class="cv-item">
        <h5>Sanam Home Appliances</h5>
        <strong>Summers 2006-07-08 Hamedan Iran</strong>
        <ul>
          <li>General employee: Customer service, Customer orientation and sales, packaging and restocking items, receiving and stocking merchandise in warehouse, inventory, assisting with B2B transactions</li> 
        </ul>
      </div>
    </div>

    <hr style="width: 1200px">

    <div class="col-sm-4 centered cv-heading">
     <h2>Education</h2>
    </div>

    <div class="col-sm-8 cv-wrapper">
      <div class="cv-item">
          <h5>International Business School / Oxford Brookes University</h5>
          <strong>Budapest Hungary, 2012 – Present</strong>
          <ul>
            <li>Bachelor of Arts in Business Studies</li> 
          </ul>
        </div>

        <div class="cv-item">
          <h5>McDaniel College</h5>
          <strong>Budapest Hungary, 2010 - 2012</strong>
          <ul>
            <li>Business Administration and Economics</li> 
          </ul>
        </div>

        <div class="cv-item">
          <h5>Avicenna International College</h5>
          <strong>Budapest Hungary, 2009 - 2010</strong>
          <ul>
            <li>International high school diploma</li> 
          </ul>
        </div>

        <div class="cv-item">
          <h5>Darolfonon High School</h5>
          <strong>Hamedan Iran, 2007 - 2009</strong>
          <ul>
            <li>Mathematics major</li> 
          </ul>
        </div>

      </div>
    <hr style="width: 1200px">
    <button class="centered"><%= link_to "Download full resume", '', class: 'btn'%></button>
  </div><!-- row -->
</div>