<% title "Home" %>

<section id="intro" class="has-bg-pic">
  <div class="intro">
    <div>
      <h1>Hey. My name is Fardin. You can call me Freddie</h1>
      <button><%= link_to "My story",about_path, class: "btn" %></button>
      <button><%= link_to "My resume",resume_path, class: "btn" %></button>
    </div>
  </div>
</section>