<div class="background-1">
  <div class="profile">
    <img class="profile-pic centered" src="/assets/profile1.jpg" />
    <h1 class="centered">Hey. My name's Fardin. You can call me Freddie.</h1>
    <div class="centered">
      <%= link_to "My story",about_path, class: "btn btn-about-me" %>
      <%= link_to "My resume",resume_path, class: "btn btn-about-me" %>
    </div>
  </div>
</div>
<div class="background-2">
  <div class="profile centered">
    <h1>In a nutshell</h1>
    <p class="centered bbc">I have a passion for coding and learning new things. At the moment I am learning two new languages, Hungarian and Swedish, I'm practicing coding and studying at university at the same time</p>
  </div>
</div>






<!--
  <figure>
    <img data-src="http://static1.squarespace.com/static/5300d507e4b0fa8137bdc65d/t/54fdbc22e4b0d17f106f88e1/1423255220465/vdfd.jpg" data-image="http://static1.squarespace.com/static/5300d507e4b0fa8137bdc65d/t/54fdbc22e4b0d17f106f88e1/1423255220465/vdfd.jpg" data-image-dimensions="1400x1050" data-image-focal-point="0.5,0.5" style="top: -252px; left: 0px; width: 1425px; height: 1069px; position: relative;" alt="vdfd.jpg" class="" src="http://static1.squarespace.com/static/5300d507e4b0fa8137bdc65d/t/54fdbc22e4b0d17f106f88e1/1423255220465/vdfd.jpg?format=1500w" data-image-resolution="1500w">
  </figure>
-->

