<div class="background-1">
  <div class="profile">
    <img class="profile-pic centered" src="/assets/profile1.jpg" />
    <h1 class="centered greeting">Hey. My name's Fardin. You can call me Freddie.</h1>
    <div class="centered">
      <%= link_to "My story",about_path, class: "btn btn-about-me" %>
      <%= link_to "My resume",resume_path, class: "btn btn-about-me" %>
    </div>
  </div>
</div>

<div class="background-2">
  <div class="profile centered">
    <h1>In a nutshell</h1>
    <p class="centered bbc">I have a passion for coding and learning new things. At the moment I am learning two new languages, Hungarian and Swedish, I'm practicing coding and studying at university at the same time</p>
  </div>
</div>

<div class="background-1">
  <div class="profile centered">
    <h1>My latest blog posts</h1>
    <% @blogs.each do |blog| %>
      <div class="card">
        <img class="card-img-top" data-src="...">
          <div class="card-block">
            <h4 class="card-title"><%= blog.title %></h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
      </div>
    <% end %>

<div class="card">
  <img class="card-img-top" data-src="..." alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">Card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Button</a>
  </div>
</div>
    
  </div>
</div>




