<% title "Home" %>

<section id="intro">
  <div class="intro">
    <img src="/assets/1.jpg">
    <h1>Hey. My name is Fardin. You can call me Freddie</h1>
    <button><%= link_to "My story",about_path, class: "btn" %></button>
    <button><%= link_to "My resume",resume_path, class: "btn" %></button>
  </div>
</section>

<section class="section2">
  <img src="/assets/1.jpg" class="profile-pic">
  <h1>Hey. My name is Fardin. You can call me Freddie</h1>
</section>
 

    