<p>I'm a 23 year old energetic cheerful last year student who loves to discuss ideas and turn them into reality. I've been living in Europe for over 8 years and have done various jobs from Market research to managing rental apartments to hosting live TV shows.</p>

<p>After I heard about coding and web apps I grew a passion for writing code and creating usefulapps. That's how this website came into life as my first project. Ruby on Rails is my weapon of choice and Javascript is on the way.</p>

<p>In my free time I'd like to read, code, cook and spend time with friends and colleagues</p>