<div class="profile on-background">
  <h1 class="centered intro">
    <p class="intro-p">Read about me and</p>
    <strong>MY JOURNEY SO FAR</strong>
  </h1>
</div>

<img src="/assets/train.jpg" class="background-pic">

<div class="background-1">
  <div class="about container">
    <div class="col-sm-6">
      <div class="about-profile">
        <p>I'm a 24 year old energetic cheerful last year student who loves to discuss ideas and turn them into reality. I've been living in Europe for over 8 years and have done various jobs from Market research to managing rental apartments to hosting live TV shows.</p>

        <p>After I heard about coding and web apps I grew a passion for writing code and creating useful apps. That's how this website came into life as my very first project. Ruby on Rails is my weapon of choice and Javascript is on the way.</p>

        <p>My university major however is Business Studies. It covers various aspects of Business from International trade and transactions to Marketing and communications. 

        <p>In my free time I'd like to read, code, cook and spend time with friends and colleagues.</p>
      </div>
    </div>

    <div class="col-sm-5 pull-right">
      <img src="/assets/profile1.jpg" class="profile-pic">
    </div>
  </div>
</div>

<div class="background-2">
  <div class="profile centered">
    <h1>Some fun facts about me</h1>
    <p class="centered bbc">I like my coffee bitter, I'm afraid of height, I cannot decide wheter penguins are my favorite animal or pandas, I am a hardcore 'Friends' fan, foodie, I love airports, I prefer cold weather to hot, I prefer MacBook to PC</p>
  </div>

  <hr></hr>

  <button class="centered"><%= link_to "Check out my resume", resume_path, class: 'btn'%></button>
</div>