.about-profile {
  margin-left: auto;
  margin-right: auto;
}

.full-photo {
  width: 500px;
  height: auto;
}

.about {
  margin-top: 50px;
}

.about-intro {
  font-size: 65px;
  margin-top: 210px;
  color: white;
}

.about-intro-p {
  font-style: italic;
  font-size: 35px;
}
