.about-profile {
  margin-left: auto;
  margin-right: auto;
}

.full-photo {
  width: 500px;
  height: auto;
}

.about {
  margin-top: 50px;
}

.profile-pic {
  width: 330px;
  height: 330px;
  border-radius: 150px;
}