/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery.countdown
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "custom";
@import "navbar";
@import "footer";
@import "about";
@import "cv";
@import "blog_post";
@import "home_page";
@import "contact";

.msg-responsive {
	display: none;
}

@media only screen 
  and (max-device-width: 768px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

	.wrapper {
		display: none;
	}

	.msg-responsive {
		display: initial;
	}

	.greeting {
	  margin-top: 200px;
	  color: black;
	  text-shadow: none;
	  font-size: 80px;
	}

	p {
		padding-top: 60px;
		font-size: 35px;
	}	

	#timer {
		height: 280px;
		font-size: 65px;
		margin-top: 200px;
	}

}


@media only screen 

and (max-device-width : 1024px) 
and (orientation : landscape) {
  	.wrapper {
		display: none;
	}

	.msg-responsive {
		display: initial;
	}

	.greeting {
	  margin-top: 0;
	  color: black;
	  text-shadow: none;
	  font-size: 60px;
	}

	p {
		padding-top: 60px;
		font-size: 20px;
	}

	#timer {
		height: 160px;
		font-size: 40px;
	}	

	.centered {
		padding-top: 20px;
	}

}




