@import "mixins";

#contact-header {
	background-image: url(golden-gate.jpg);
}

#contact-form {
	padding: 45px 0;
}

.submit-btn {
	background: none;
	@include btn-base;
	padding: 5px 40px 5px 40px;
	font-size: 25px;
}