@import "mixins";

html, body {
  margin:0;
  height:100%;
}

.container-fluid {
	height: 100%; /* for child elements to inherit from */
	padding: 0;
}

.row {
	width: 100%;
	// because row's widths is more than container and adds horizontal scroolbar
	margin: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  padding-top: 50px; /* This is for fixed nav bar overlap with the content */ 
}

section {
  height: 100%;
  position: relative;
  border-top: solid 2px #1abc9c;
}

a:hover {
	text-decoration: none;
}

.has-bg-pic {
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
	//background-size: cover;
}

.auto-height {
	height: auto;
}

.pg-title {
	color: white;
	text-align: center;
	margin-top: 20%;

	h3 {
		font-size: 45px;
	}

	h1 {
		font-size: 55px;
		font-weight: bold;
	}
}

.load-more-div {
	width: 30%;
	margin: 60px auto 30px auto;
}

.load-more {
	@include btn-base;
	padding: 20px 30px 20px 30px;
	font-size: 25px;
}
