html,
body {
  margin:0;
  padding:0;
  height:100%;
  font-family: 'Raleway', sans-serif;
}

body { 
  padding-top: 50px;
} /* This is for fixed nav bar overlap with the content */ 

.wrapper {
  min-height:100%;
  position:relative;
}

.content {
  padding-bottom:100px; /* Height of the footer element */
  overflow: auto;
}

a:hover {
  text-decoration: none;
  color: white;
}

.btn {
  color: black;
  font-size: 27px;
}

button {
  background-color: transparent;
  border: solid 2px black;
  cursor: hand;
  min-width: 200px;
}

button:hover {
  background-color: black;
  transition: 0.1s background-color linear, 0.1s color linear;
}

button:hover .btn{
  color: white;
}

.nav-link {
  margin-right: 10px;
}

p {
  font-size: 16px;
}

a:active {
  background-color: #424242;
}


.center-div {
  width: 100%;
  height: 500px;
  background-color: green;
}

.profile-pic {
  width: 300px;
  height: 300px;
  border-radius: 150px;
}

.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.background-1 {
  background: #ecf0f1;
  width: 100%;
  height: auto;
  overflow: auto; 
}

.background-2 {
  background: #bdc3c7;
  width: 100%;
  height: auto;
  padding-bottom: 50px;
  overflow: auto; 
}

.profile {
  margin-top: 85px;
}

.on-background {
  z-index: 100;
  position: absolute;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  margin-top: 35px;
}

.bbc {
  width: 40%;
}

.greeting {
  margin-top: 80px;
  color: white;
  text-shadow: 2px 2px rgba(0,0,0,0.4);
  font-size: 45px;
}

.card {
  width: 100%;
  max-width: 500px;
  margin: 0 auto 100px;
  display: inline-block;
}

.background-pic {
  width: 100%;
  height: auto;
  opacity: 0.9;
}

hr {
  width: 1200px;
}
