html, body {
  margin:0;
  height:100%;
}

.container-fluid {
	height: 100%; /* for child elements to inherit from */
	padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  padding-top: 50px; /* This is for fixed nav bar overlap with the content */ 
}

section {
  border-bottom: solid 2px black;
  height: 93%;
  position: relative;
}

.has-bg-pic {
	background-repeat: no-repeat;
	background-size: 100%;
}

h1 {
	margin: 0;
}

