@import 'mixins';

#cv-header {
	background-image: url(working.jpg);
}

.works {
	margin-top: 50px;
	margin-bottom: 100px;
}

.cv-item {
	border-bottom: solid 1px grey;
}

.cv-dl-btn {
	@include btn-base;
	padding: 22px;
	display: block;
	width: 34%;
	margin: 20px auto;
	text-align: center;
	font-size: 23px;
}