.cv-item, .cv-heading {
  padding-top: 40px;
}

.cv-intro {
  font-size: 65px;
  margin-top: 210px;
  color: black;
}

.cv-intro-p {
  font-style: italic;
  font-size: 35px;
}

.cv-wrapper {
  padding-left: 90px;
}

.cv-desc {
  margin-top: 10px;
}

