footer {
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
}

.social-container {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 45% ;
}

.footer-social-btn {
  font-size: 2em;
  color: grey;
  margin-left: 10px;
  margin-right: 10px;
}