.footer {
  text-align: center;
  padding: 30px;
  border-top: solid 2px #1abc9c;
}

.footer-social-btn {
  font-size: 2em;
  color: grey;
  margin-left: 10px;
  margin-right: 10px;
  transition: width 2s, height 2s, background-color 2s, transform 0.3s;

}

.footer-social-btn:hover {
  transform: scale(1.3);
}