.social-container {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 45% ;
}

.footer-social-btn {
  font-size: 2em;
  color: grey;
  margin-left: 10px;
  margin-right: 10px;
  transition: width 2s, height 2s, background-color 2s, transform 0.3s;

}

.footer-social-btn:hover {
  transform: scale(1.3);
}

.foot {
  width:100%;
  height:80px;
  position:absolute;
  bottom:0;
  left:0;
}