.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  color: #fff;
  background-color: #424242;
}

.logo {
    float: left;
    padding-right: 12px;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 15px;
    font-size: 1.375em;
    line-height: 1.09090909;
    transition: background-color 200ms linear, color 200ms linear;
}

navbar-nav{
  padding-bottom: 10px;
}

.navbar-inverse {
  background-color: transparent;
  border-color: silver;
}