@import "mixins";

// All mobiles in portrate
@media only screen 
and (max-width: 415px) {
	// General
	.pg-title {

		h3 {
			font-size: 30px;
	}

		h1 {
			font-size: 45px;
			font-weight: bold;
		}
	}

	// Index
  #intro h1 {
  	font-size: 25px;
  }

	#nutshell div {
		width: 90%;
	}

	.panel-thumbnail p {
		font-size: 20px;
		top: 30%;
	}

	.say-hello-btn {
	  font-size: 17px;
	}

	// Show/About
	#about-text {
		padding: 20px;
		font-size: 17px;
		text-align: justify;
	}

	.profile-pic {
		margin-top: 20px;
		width: 100%;
		height: 100%;
	}

	#fun-facts{

		h1{
			margin: 0 10px 15px 0;
			font-size: 30px;
		}

		p {
			width: 80%;
			font-size: 20px;
			text-align: justify;
		}
	}

	// Blog
	#blog-gallery {
		text-align: center;
	}

	// CV/Resume
	#cv {
		h2 {
			padding: 10px 0;
		}

		.cv-item {
			border-bottom: solid 1px grey;
		}
	}

	.cv-dl-btn {
		width: 80%;
		font-size: 20px;
	}

	// Contact
	#contact-form {
		text-align: center;
	}

	.contact-data {
		margin-bottom: 50px;
	}

	.submit-btn {
		margin-top: 35px;
	}
}

// All mobiles in landscape
@media only screen 
and (min-width: 416px) 
and (max-width: 736px) {
	// General
	.pg-title {

		h3 {
			font-size: 25px;
	}

		h1 {
			font-size: 40px;
			font-weight: bold;
		}
	}


	// Index
	#intro h1 {
  	font-size: 20px;
  }

  .intro {
  	bottom: 2%;
  }

  .intro-btn {
  	padding: 5px;
  }

  .panel-thumbnail p {
		top: 40%;
		font-size: 30px;
	}

	.say-hello-btn {
	  font-size: 18px;
	}

	// Show/About

	.profile-pic {
		display: block;
		margin: 30px auto 0 auto;
	}

	#fun-facts {

		p {
			width: 80%;
		}
	}

	// Resume/CV

	#cv {
		h2 {
			text-align: center;
			margin-bottom: 20px;
		}
	}

	.cv-item {
		border-bottom: solid 1px grey;
	}

	.cv-dl-btn {
		width: 60%;
	}

	// Contact
	#contact-form {
		text-align: center;
	}

	.contact-data {
		margin-bottom: 50px;
	}

	.submit-btn {
		margin-top: 35px;
	}
}

// iPad in portrait & landscape
@media only screen 
and (min-width : 768px) 
and (max-width : 1024px) { 

	.panel-thumbnail p {
		font-size: 25px;
	}
}